@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "leaflet/dist/leaflet.css";

/* This file is for your main application CSS */
html {
  background-color: rgb(189, 167, 147);
}

main {
  background-color: rgba(116, 132, 255, 0.6);
}

#map, #index-map {
  height: 600px;
  width: 80vw;
}

#big-header {
  margin: 2px;
  padding-bottom: 16px;
  border: 1px solid rgb(85, 67, 59);
  background-color: rgb(254, 98, 24);
}

.heading {
  color: #FFFFFF;
}

th, tr, td {
  margin-right: 20px;
  padding: 4px;
  font-size: 24px;
  /* width: 350px; */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.truck-card {
  width: 300px;
  height: 150px;
  padding: 8px;
  margin: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.truck-icon-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fd4f00;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.truck-icon {
  color: white;
  font-size: 24px;
}

.truck-name {
  font-size: 16px;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 48px;
  }

  #big-header {
    height: 100px;
    padding-top: 8px;
  }
}
