@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "leaflet/dist/leaflet.css";

/* This file is for your main application CSS */
html {
  background-color: rgb(189, 167, 147);
}

main {
  background-color: rgba(116, 132, 255, 0.6);
}

/* Ensure the entire page takes up the full viewport height and is centered */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  /* You can use any desired font family */
}

/* Style for the container holding the two panels */
.split-view {
  display: flex;
  /* Enables flex layout */
  height: 100%;
  /* Ensures full height */
}

/* Left panel styling */
.left-panel {
  flex: 0.4;
  /* Takes up 40% of the parent's width */
  background-color: #f4f4f4;
  /* Just a sample background color */
  padding: 20px;
  /* Adds some padding around content */
  box-sizing: border-box;
  /* Ensures padding doesn't increase the width */
}

/* Right panel styling */
.right-panel {
  flex: 0.6;
  /* Takes up 60% of the parent's width */
  background-color: #e1e1e1;
  /* Just a sample background color */
  padding: 20px;
  /* Adds some padding around content */
  box-sizing: border-box;
  /* Ensures padding doesn't increase the width */
}

/* Sample styling for other elements, adjust as needed */
.header,
.footer {
  padding: 15px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-weight: bold;
  color: #FD4F00;
}

.filters,
.user-actions {
  margin-bottom: 15px;
}


#indexMapContainer {
  height: 100%;
  width: 100%;
  margin-right: 32px;
  max-height: 600px;
  overflow: hidden;
}

#map,
#index-map {
  height: 50vw;
  width: 100%;
}

#big-header {
  margin: 2px;
  padding-bottom: 16px;
  border: 1px solid rgb(85, 67, 59);
  background-color: rgb(254, 98, 24);
}

.heading {
  color: #FFFFFF;
}

th,
tr,
td {
  margin-right: 20px;
  padding: 4px;
  font-size: 24px;
  /* width: 350px; */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.truck-card {
  width: 300px;
  height: 150px;
  padding: 8px;
  margin: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.truck-icon-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.truck-icon {
  color: white;
}

.truck-name {
  font-size: 16px;
}

@media only screen and (min-width: 640px) {
  .truck-icon-container {
    background-color: #fd4f00;
  }

  .truck-icon {
    font-size: 24px;
  }
}

@media only screen and (max-width: 640px) {
  .split-view {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    flex: none;
    width: 100%;
  }

  .left-panel {
    order: 2;
  }

  .right-panel {
    order: 1;
  }

  h1 {
    font-size: 44px;
  }

  #map,
  #index-map {
    height: 90vw;
    width: 100vw;
  }

  #big-header {
    height: 100px;
    padding-top: 8px;
  }

  .hidden {
    display: none;
  }

  .truck-card {
    width: 190px;
    height: 65px;
  }

  .truck-icon {
    font-size: 18px;
  }

  .truck-name {
    font-size: 14px;
  }
}

/* For WebKit browsers like Chrome, Safari */
.cards-container::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

.cards-container::-webkit-scrollbar-thumb {
  background-color: #FD4F00;
  /* color of the scroll thumb */
  border-radius: 4px;
  /* roundness of the scroll thumb */
}

.cards-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* color of the track */
}

/* For Firefox */
.cards-container {
  scrollbar-width: thin;
  scrollbar-color: #FD4F00 #f1f1f1;
}