@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "leaflet/dist/leaflet.css";

/* This file is for your main application CSS */
html {
  background-color: rgb(189, 167, 147);
}

main {
  background-color: rgba(116, 132, 255, 0.6);
}

#map {
  height: 500px;
  width: 80vw;
}

#big-header {
  margin: 2px;
  padding-bottom: 16px;
  border: 1px solid rgb(85, 67, 59);
  background-color: rgb(254, 98, 24);
}

.heading {
  color: #FFFFFF;
}
