<!-- For /food_trucks -->
<.table id="food-trucks" rows={@conn.assigns.trucks}>
  <:col :let={truck} label="Name">
    <.link navigate={~p"/trucks/show/#{truck.name}"}><%= truck.name %></.link>
  </:col>
</.table>
