<!-- For /food_trucks/:id -->
<section id="leaflet-map" class="row" phx-update="ignore">
  <div
    id="map"
    phx-hook="Map"
    data-lat={@truck.latitude}
    data-lng={@truck.longitude}
    data-name={@truck.name}
  >
  </div>
</section>
<div class="food-truck">
  <h2><%= @truck.name %></h2>
  <p><%= @truck.address %></p>
  <p><%= @truck.description %></p>
  <.link navigate={@truck.schedule_url}>Schedule</.link>
</div>
