<!-- For /food_trucks/:id -->
<div class="entities-table my-16">
  <.table id="entities" rows={@entities}>
    <:col :let={entity} label="Address"><%= entity.address %></:col>
    <:col :let={entity} label="Description"><%= entity.description %></:col>
    <:col :let={entity} label="Schedule (PDF}">
      <.link navigate={entity.schedule_url}>link</.link>
    </:col>
  </.table>
</div>
