<header class="grid justify-items-center px-4 sm:px-6 lg:px-8" id="big-header">
  <h1 class="font-sans sm:text-6xl lg:text-9xl heading">Truckspotting.</h1>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-fit">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
